<% layout('layout/boilerplate') %>

<body>

    <div class="form-container mt-5">
        <div class="row mb-5">
            <div class="col-md-12">
                <h4>Lets get in touch. Send me a message:</h4>
                <form id="contact-form" novalidate class="needs-validation">
                    <div class="mb-3">
                        <input type="text"
                         class="form-control"
                          id="name" 
                          name="name" 
                          placeholder="Name" 
                          required>
                          <div class="valid-feedback">Name looks good!</div>
                          <div class="invalid-feedback">Name is required!</div>
                    </div>
                    <div class="mb-3">
                        <input type="email" 
                        class="form-control"
                         id="email" 
                         name="email" 
                         placeholder="Email" 
                         required>
                         <div class="invalid-feedback">invalid email!</div>
                    </div>
                    <div class="mb-3">
                        <input type="text" 
                        class="form-control" 
                        id="subject" 
                        name="subject" 
                        placeholder="Subject" 
                        required>
                        <div class="invalid-feedback">Subject is required!</div>
                    </div>
                    <div class="mb-3">
                        <textarea 
                        class="form-control" 
                        id="message" 
                        name="message" 
                        
                        placeholder="Message"
                         required></textarea>
                    <div class="invalid-feedback">Message is required!</div>
                    </div>
                    <button type="submit"class="btn btn-primary"><i class="fas fa-paper-plane"></i> Send Message</button>
                </form>
            </div>
        </div>
    </div>
    <footer class="cont-footer bg-light py-3">
        <div class="link">
        <a href="https://www.facebook.com/vaibhav.khare.7982?mibextid=LQQJ4d"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
        <a href="https://www.instagram.com/_vaibhavkhare_?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="><i class="fa fa-instagram w3-hover-opacity" ></i></a>
        <a href="https://x.com/VaibhaV4k"><i class="fa fa-twitter w3-hover-opacity"></i></a>
        <a href="https://www.linkedin.com/in/vaibhav-khare-064636283/"><i class="fa fa-linkedin w3-hover-opacity"></i></a>
        </div>
        <div class="cont-container2 text-center">
            <p>&copy; 2024 Vaibhav Khare. All rights reserved.</p>
        </div>
    </footer>
    <script src="/js/contact.js"></script>
    
    <!-- <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>


