<% layout('layout/boilerplate') %>

    <body>
    <div class="work-container my-5">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100">
                    <img src="https://firebasestorage.googleapis.com/v0/b/portfolio-4a26e.appspot.com/o/web-development-concept-with-programmer-and-ar-free-vector.jpg?alt=media&token=a254a80f-9870-474f-a9bf-f5a4a93af0c4" class="card-img-top" alt="Project 1">
                    <div class="card-body">
                        <h5 class="card-title">Movie Search App</h5>
                        <p class="card-text">A simple web app that lets users search for movies and view details using The Movie Database API. It provides movie recommendations based on search results, with a clean and responsive interface built using HTML, CSS, and JavaScript.</p>
                    </div>
                    <div class="card-footer">
                        <a href="https://github.com/vaibhavkhare45/MovieSearch" class="btn btn-primary">Source Code</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="https://firebasestorage.googleapis.com/v0/b/portfolio-4a26e.appspot.com/o/web-development-concept-with-programmer-and-ar-free-vector.jpg?alt=media&token=a254a80f-9870-474f-a9bf-f5a4a93af0c4" class="card-img-top" alt="Project 2">
                    <div class="card-body">
                        <h5 class="card-title">SMS BOX</h5>
                        <p class="card-text">A simple, responsive web app for sending secure messages via Web3Forms API. Users can enter their name, email, and message through a clean, modern interface. Built with HTML and CSS, it ensures a smooth, user-friendly experience.</p>
                    </div>
                    <div class="card-footer">
                        <a href="https://github.com/vaibhavkhare45/smsBox" class="btn btn-primary">Source Code</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="https://firebasestorage.googleapis.com/v0/b/portfolio-4a26e.appspot.com/o/web-development-concept-with-programmer-and-ar-free-vector.jpg?alt=media&token=a254a80f-9870-474f-a9bf-f5a4a93af0c4" class="card-img-top" alt="Project 3">
                    <div class="card-body">
                        <h5 class="card-title">Chat Application</h5>
                        <p class="card-text">A web-based chat app built with MongoDB and Express that allows users to create, read, update, and delete chat messages. The app includes error handling, validation, and a clean user interface with basic styling. Messages are stored in a MongoDB database, and the app follows a RESTful design for managing chats.</p>
                    </div>
                    <div class="card-footer">
                        <a href="https://github.com/vaibhavkhare45/mongoDB-Mini-Project" class="btn btn-primary">Source Code</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<br>
<br>
    <footer class="work-footer bg-light py-3">
            <p>&copy; 2024 Vaibhav Khare. All rights reserved.</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>


